@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.show_title{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    margin-top: 70px;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
}

.show_description{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.frame{
    margin-top: 30px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: max-content;
    background-color: white;
    margin-bottom: 0px;
    box-shadow: var(--shadow-minimal);
}

.qr_image{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
}

.numbers{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-top: -10px;
}

.loading{
    margin-top: -20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background);
    height: 5px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.loading_bar{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--text);
    border-radius: 10px;
}

.expire{
    margin-top: 30px;
    text-align: center;
    height: 50px;
    font-size: 16px;
}

.expire_highlight{
    font-weight: 600;
    font-size: 17px;
}

.expire_light{
    opacity: 0.5;
}

.bottom_frame{
    margin-top: 20px;
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.frame_image{
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}